/indev/fixed_point_mapping/neuronits000.results.hdf
/indev/fixed_point_mapping/neuronits001.results.hdf
/indev/fixed_point_mapping/neuronits002.results.hdf
/indev/fixed_point_mapping/neuronits003.results.hdf
/indev/fixed_point_mapping/neuronits004.results.hdf
/indev/fixed_point_mapping/neuronits005.results.hdf
/indev/old/ctypes_test/test1.so
/cpp/exp_out.txt

.sconsign.dblite

/cpp/test-x
/myoutput.avi
/_output/figures/neurounits/png/fig000_Autosave_figure_1.png
/_output/figures/neurounits/png/fig001_Autosave_figure_2.png
/_output/figures/neurounits/png/fig002_Autosave_figure_3.png
/_output/figures/neurounits/png/fig003_Autosave_figure_4.png
/_output/figures/neurounits/png/fig004_Autosave_figure_5.png
/_output/figures/neurounits/png/fig005_Autosave_figure_6.png
/_output/figures/neurounits/svg/fig000_Autosave_figure_1.svg
/_output/figures/neurounits/svg/fig001_Autosave_figure_2.svg
/_output/figures/neurounits/svg/fig002_Autosave_figure_3.svg
/_output/figures/neurounits/svg/fig003_Autosave_figure_4.svg
/_output/figures/neurounits/svg/fig004_Autosave_figure_5.svg
/_output/figures/neurounits/svg/fig005_Autosave_figure_6.svg
/indev/fixed_point_mapping/build_pdfs.py
/indev/fixed_point_mapping/comparison.out
/indev/fixed_point_mapping/myoutput.avi
/indev/fixed_point_mapping/op-bv.cpp
/indev/fixed_point_mapping/op-seq.cpp
/indev/fixed_point_mapping/op_MN.pdf
/indev/fixed_point_mapping/op_dIN.pdf
/src/neurounits/myoutput.avi
/src/neurounitscontrib/demo/plugins/_output/figures/demo4/png/fig000_Autosave_figure_1.png
/src/neurounitscontrib/demo/plugins/_output/figures/demo4/svg/fig000_Autosave_figure_1.svg
/src/neurounits/ast_annotations/__pycache__/
/indev/fixed_point_mapping/caches/.din_model_cache*
/indev/fixed_point_mapping/mh_reduced_connectome.pickle
/indev/fixed_point_mapping/nohup.out
/indev/fixed_point_mapping/op.pdf
/indev/fixed_point_mapping/tagselectorparser_parsetab.py
/indev/fixed_point_mapping/gmon.out
/indev/fixed_point_mapping/op.txt
/cpp/_output/
/cpp/boost_python_wrappers/py_fplib.os
/cpp/fplib.so
/cpp/libs/boost_python/libfplib.so
/cpp/test/lut_test
/cpp/test/lut_test.o
/cpp/.sconsign.dblite
/indev/fixed_point_mapping/c_deps/exp_out.txt
/indev/fixed_point_mapping/c_deps/tmp.cpp
/indev/fixed_point_mapping/out.txt
/indev/fixed_point_mapping/output.hd5
/indev/fixed_point_mapping/res_int.txt_int
/indev/fixed_point_mapping/testing/gmon.out
/indev/fixed_point_mapping/testing/hdf5_test.x
/indev/fixed_point_mapping/testing/myfile.hdf
/indev/fixed_point_mapping/res_int.txt
/indev/fixed_point_mapping/sim1.cpp
/indev/fixed_point_mapping/a.out
/indev/fixed_point_mapping/res.txt
/indev/fixed_point_mapping/res_double.txt
/indev/fixed_point_mapping/res_float.txt
/indev/fixed_point_mapping/res_gmp.txt
/src/testing/application.log
/pylint.html
/src/testing/nohup.out
/L1.txt
/L2.txt
/L3.txt
*.swp
*.swo
*.pyc
*~
parser.out

doc/_build/*
doc/sphinx/_build/*
src/testing/htmlcov/
src/testing/.coverage

out/*
.coverage

dist/
src/NeuroUnits.egg-info/
